@font-face {
    font-family: nintendo;
    src: url(./assets/NintendoLabo.ttf);
}
@font-face{
    font-family: pretendo;
    src: url(./assets/Pretendo.ttf);
}

:root {
    --gb-blue:  #283593;
}

 body {
    height: 98.6vh;
    margin: 0; 
    padding: 0;
    background-image: url(./assets/tetris-wall.jpg);
    background-position: center;
    background-size: cover;
   
}
p {
    margin: 0;
    padding: 0;
}

#heading {
    position: absolute;
    left: 55%;
    top: 15%;
    font-family: pretendo;
    color: var(--gb-blue);
    font-size: 2em;
    margin-top: 1vh ;
}

#case, .case_back {
   
    padding: 0;
    transform: scale(0.9);
    display: inherit;
    margin-top: 10vh;
    margin-left: 10vw;
    border: lightgray 0.5px solid;
    height: 658px;
    width: 400px;
    border-radius: 10px;
    border-bottom-right-radius: 40px;
    background: #eee;
    background-image: url(http://www.transparenttextures.com/patterns/cross-scratches.png);
    background-position: center;
    background-size: cover;
    background: linear-gradient(145deg, #d0ced1, #f7f5f8);
    box-shadow:  7px 7px 25px #b9b7ba, 
             -7px -7px 25px #ffffff;
    transition: ease-out 1s;
    animation: transform 2s, bg-move 5s linear infinite;
}

.top {
    display: grid;
    grid-template-columns: 37px auto 37px;
    grid-template-rows: 30px;
}

.top2 {
    border-bottom: rgb(189, 184, 184)solid  3px; 
    border-left: rgb(189, 184, 184) solid 3px; 
    border-right:rgb(189, 184, 184)  solid 3px; 
}

.top1 {
    border-bottom:  rgb(189, 184, 184) solid 3px; ;
}


.screen {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 326px;
    border-radius: 6px;
    border-bottom-right-radius: 40px;
    position: relative;
    background: #777;
}

.screen header {
    height: 30px;
    width: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.line_red1 {
 height: 3px;
 width: 80px;
 position: absolute;
 background: #8b1d90;
 top: 13px;
}

.line_blue1 {
    height: 3px;
    width: 80px;
    position: absolute;
    background: var(--gb-blue);
    top: 18px;
}

.line_red2 {
    height: 3px;
    width: 30px;
    position: absolute;
    background: #8b1d90;
    top: 13px;
    left: 270px;
   }
   
   .line_blue2 {
       height: 3px;
       width: 30px;
       position: absolute;
       background: var(--gb-blue);
       top: 18px;
       left: 270px;
   }


header p {
    position: absolute;
    font-size: 10px;
    font-family: sans-serif;
    left: 88px;
    top: 10px;
    color: #b3b3b3;
}

.display {
    height: 190px;
    width: 226px;
    background: #CADC9F;
    position: absolute;
    left: 50px;
    top: 30px;
}

.energy {
    height: 30px;
    width: 36px;
    position: relative;
    margin-left: 7px;
    margin-top: 70px;
}

@keyframes energy {
    0% { background: red;
    }
    5% { background: grey;
    }
    10% { background: red;
    }
    15% { background: grey;
    }
    25% { background: red;
    }
}

.dot {
    height: 10px;
    width: 10px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 12px;animation-name: energy;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.energy p {
    font-size: 8px;
    font-family: sans-serif;
    color: #b3b3b3;
    position: absolute;
    top: 17px;
}

.logo {
    position: relative;
    margin-top: -172px;
    margin-left: 37px;
    display: flex;
    align-items: baseline;
    height: 30px;
    width: 212px;
    align-items: baseline;
    justify-content: space-between;
}

.logo :nth-child(1) {
    font-size: 15px;
    font-family: pretendo;
    color:var(--gb-blue);
}
.logo :nth-child(2) {
    font-size: 23px;
    letter-spacing: -1px;
    font-family: sans-serif;
    color:var(--gb-blue);
    transform: skew(-6deg);
}
.logo :nth-child(3) {
    font-size: 10px;
    font-family: sans-serif;
    color:var(--gb-blue);
}


.logo a {
    display: flex;
}

.cross img {
    margin-top: 60px;
    margin-left: 30px;
    border: rgb(201, 200, 200) 0.5px solid;
    border-radius: 50%;
    box-shadow: inset 9px 9px 28px #9e9e9e, 
            inset -9px -9px 28px #f2f2f2;
}

.cross img:hover {
transform: scale(1.01);
}

.buttons_red {
    width: 130px;
    height:60px;
    border: rgb(201, 200, 200) 0.5px solid;
    border-radius: 70px;
    position: relative;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: auto;
    transform: rotate(-25deg);
    box-shadow: inset 9px 9px 28px #9e9e9e, 
            inset -9px -9px 28px #f2f2f2;
}

.forward:hover, .backward:hover  {
background: #681b2a;
} 



.forward, .backward {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 6px;
    top: 4px;
    border-radius: 50%;
    border: #751a2bce solid 0.5px;
    background: linear-gradient(145deg, #89283ace, #a53d50);
    box-shadow:  5px 5px 5px #717171, 
    -5px -5px 10px #7d7d7d;
}   

.backward {
    left: 70px;
    top: 4px;
}

.buttons_red p{
    font-family: nintendo;
    color: var(--gb-blue);
    margin-top: 57px;
    margin-left: 20px;
}

.buttons_grey {
    width: 130px;
    height: 43px;
    position: relative;
    margin-left: 130px;
    margin-right: auto;
    margin-top: 42px;
    margin-bottom: auto;
    transform: rotate(-25deg);
    box-shadow: inset 9px 9px 28px #9e9e9e, 
    inset -9px -9px 28px #f2f2f2;
    border: rgb(201, 200, 200) 0.5px solid;
    border-radius: 70px;
}

.buttons_grey p {
    font-family: nintendo;
    color: var(--gb-blue);
    margin-top: 14px;
    margin-left: 2px;
    font-size: 11px;
}


.play, .pause {
    width: 50px;
    height: 11px;
    background: linear-gradient(145deg, #b1abacce, #8a8989);
    box-shadow: 5px 5px 5px #717171, 
    -5px -5px 10px #7d7d7d;
    border-radius: 20px;
    border: rgb(40, 39, 39) 0.5px;
    position: absolute;
    top: 7px;
    left: 7px;
}


.play:hover, .pause:hover {
    background:  #8a8989;
} 

.pause {
    left: 66px;
    top: 13px;
}

.speaker {
    width: 120px;
    height:80px;
    margin-right: 20px;
    margin-left: auto;
    margin-top: -12px;
    margin-bottom: auto;
    transform: rotate(-25deg);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

    .hole {
    display: flex;
    height: 75px;
    width: 8px;
    background: rgb(155, 152, 152);
    border: 0.5px rgb(85, 85, 85) solid;
    border-left:rgb(49, 47, 47) solid; 
    border-radius: 20px;
    box-shadow:inset 5px 5px 10px #585858, 
    inset -5px -5px 10px #969696;
}


/* Case-Back */

.case_back {
    display: none;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 10px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.insert {
    width: 280px;
    height: 130px;
    border-top: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    box-shadow: inset -5px -10px 16px -3px rgb(130, 130, 131);
}

.screw {
    position: relative;
    height: 280px;
    width: 360px;
    top: -140px;
    left: 20px;
}

screwhole {
    position: absolute;
    width:20px;
    height: 20px;
    background-color: rgb(36, 35, 35);
    border-radius: 50%;
    box-shadow:inset 5px 5px 10px #585858, 
    inset -5px -5px 10px #969696;
}

.screw :nth-child(2) {
    top: 250px;
}

.screw :nth-child(3) {
    top: 250px;
    left: 340px;
}

.screw :nth-child(4) {
    left: 340px;
}

.number {
    width: 140px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 2px;
    box-shadow: inset 0px 0px 15px -4px rgba(105,105,107,1);
    font-size: 1.5em;
    color: rgb(60, 59, 59);
    letter-spacing: 1px;
}

.details {
    position: absolute;
    margin-top: 20px;
    left: 100px;
    height: 110px;
    width: 200px;
    border-radius: 2px;
    box-shadow: inset 0px 0px 15px -4px rgba(105,105,107,1);
    text-shadow:  -1px 1px #FFFFFF, 0 1px 1px #4a4a4a;
    color:  rgb(159, 159, 176);
    font-size: 0.8em;
    padding: 3px;
    overflow: hidden;
}

.grip {
    position: absolute;
    height: 200px;
    width: 400px;
    bottom: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

grip {
    height: 10px;
    width: 395px;
    border-radius: 3px;
    box-shadow:inset 5px 5px 10px #ddd9d9, 
    inset -5px -5px 10px #979696;
}

.battery {
    position: absolute;
    bottom: 20px;
    left: 60px;
    width: 280px;
    height: 230px;
    border: solid 2px rgb(146, 141, 141);
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px #717171, 
    -2px -2px 5px #7d7d7d;
   
}

clip {
    position: absolute;
    height: 15px;
    width: 50px;
    border-radius: 5px;
    left: 110px;
    top:-15px;
    background-color: rgb(36, 35, 35);
    box-shadow:inset 5px 5px 10px #585858, 
    inset -5px -5px 10px #969696;
}

nip {
    position: absolute;
    height: 12px;
    width: 25px;
    border-radius: 1px;
    background: rgb(207, 206, 206);
    left: 13px;
    top:-12px;
    box-shadow: 2px 1px 2px #706e6e, 
    -2px -2px 4px #7d7d7d;
}

#flip {
    position: absolute;
    left: 25%;
    margin-top: 10px;
}

#flip-back {
    display: none;
    position: absolute;
    left: 23%;
    margin-top: 0px;
}

@keyframes transform {
    0% {
        transform: scale(0.8)
    }
    75% {
    transform: scale(0.3) 
    }
    100% {
        transform: scale(0.9);
    }
}
/* 
@keyframes bg-move {
    0% { transform: rotate(0deg); }
    85% { transform: rotate(-2deg); }
    87% { transform: rotate(2deg); }
    90% { transform: rotate(-2deg); }
   100% { transform: rotate(0deg); }
 }
} */

   /* for mobile-devices */

@media only screen and (max-width: 600px) {
    body {
        position: relative;
    }
    #case, .case_back {
        transform: scale(0.6);
        position: absolute;
        left: -20%;
        top: -15%;
    }

    #heading {
        left: 10%;
        top: 5%;
        font-size: 1em;
    }

    #flip {
        position: absolute;
        left: 35%;
        margin-top: 510px;
        border: rgb(94, 93, 93) solid 2px;
    }
    
    #flip-back {
        display: none;
        position: absolute;
        left: 30%;
        margin-top: 510px;
        border: rgb(94, 93, 93) solid 2px;
    }
    
    body {
        background-position: bottom;
        background-size: cover;
    }
} 

/* for small screens */

@media only screen and (min-width: 600px) and (max-width:992px) {
body {
    position: relative;
}
#case, .case_back {
    transform: scale(0.7);
    position: absolute;
    left: -10%;
    top: -15%;
}

#heading {
    left: 55%;
    top: 15%;
    font-size: 1.5em;
}
#flip {
    position: absolute;
    left: 20%;
    margin-top: 540px;
    border: rgb(94, 93, 93) solid 2px;
}

#flip-back {
    display: none;
    position: absolute;
    left: 18%;
    margin-top: 540px;
    border: rgb(94, 93, 93) solid 2px;
} }

@media only screen and (min-width: 992px)  {
    #flip, #flip-back {
        border:  rgb(94, 93, 93) solid 2px;
    }
}
    