@font-face {
    font-family: nintendo;
    src: url(./assets/NintendoLabo.ttf);
}
@font-face{
    font-family: pretendo;
    src: url(./assets/Pretendo.ttf);
}

:root {
    --gb-blue:  #283593;
}

html, body, p {
    margin: 0;
    padding: 0;
}
.case {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: lightgray 0.5px solid;
    height: 658px;
    width: 400px;
    border-radius: 6px;
    border-bottom-right-radius: 40px;
    background: #eee;
    background-image: url(http://www.transparenttextures.com/patterns/cross-scratches.png);
    background-position: center;
    background-size: cover;
}

.top {
    display: grid;
    grid-template-columns: 37px auto 37px;
    grid-template-rows: 30px;
}

.top2 {
    border-bottom: lightgray solid 3px; 
    border-left: lightgray solid 3px; 
    border-right: lightgray solid 3px; 
}

.top1 {
    border-bottom:  lightgray solid 3px; ;
}


.screen {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 326px;
    border-radius: 6px;
    border-bottom-right-radius: 40px;
    position: relative;
    background: #777;
}

.screen header {
    height: 30px;
    width: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.line_red1 {
 height: 3px;
 width: 80px;
 position: absolute;
 background: #8b1d90;
 top: 13px;
}

.line_blue1 {
    height: 3px;
    width: 80px;
    position: absolute;
    background: var(--gb-blue);
    top: 18px;
}

.line_red2 {
    height: 3px;
    width: 30px;
    position: absolute;
    background: #8b1d90;
    top: 13px;
    left: 270px;
   }
   
   .line_blue2 {
       height: 3px;
       width: 30px;
       position: absolute;
       background: var(--gb-blue);
       top: 18px;
       left: 270px;
   }


header p {
    position: absolute;
    font-size: 10px;
    font-family: sans-serif;
    left: 88px;
    top: 10px;
    color: #b3b3b3;
}

.display {
    height: 190px;
    width: 226px;
    background: #CADC9F;
    position: absolute;
    left: 50px;
    top: 30px;
}

.energy {
    height: 30px;
    width: 36px;
    position: relative;
    margin-left: 7px;
    margin-top: 70px;
}

@keyframes energy {
    0% { background: red;
    }
    5% { background: grey;
    }
    10% { background: red;
    }
    15% { background: grey;
    }
    25% { background: red;
    }
}

.dot {
    height: 10px;
    width: 10px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 12px;animation-name: energy;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.energy p {
    font-size: 8px;
    font-family: sans-serif;
    color: #b3b3b3;
    position: absolute;
    top: 17px;
}

.logo {
    position: relative;
    margin-top: -172px;
    margin-left: 37px;
    display: flex;
    align-items: baseline;
    height: 30px;
    width: 212px;
    align-items: baseline;
    justify-content: space-between;
}

.logo :nth-child(1) {
    font-size: 15px;
    font-family: pretendo;
    color:var(--gb-blue);
}
.logo :nth-child(2) {
    font-size: 23px;
    letter-spacing: -1px;
    font-family: sans-serif;
    color:var(--gb-blue);
    transform: skew(-6deg);
}
.logo :nth-child(3) {
    font-size: 10px;
    font-family: sans-serif;
    color:var(--gb-blue);
}


.logo a {
    display: flex;
}

.cross img {
    margin-top: 60px;
    margin-left: 30px;
    border: rgb(201, 200, 200) 0.5px solid;
    border-radius: 50%;
    box-shadow: inset 9px 9px 28px #9e9e9e, 
            inset -9px -9px 28px #f2f2f2;
}

.cross img:hover {
transform: scale(1.01);
}

.buttons_red {
    width: 130px;
    height:60px;
    border: rgb(201, 200, 200) 0.5px solid;
    border-radius: 70px;
    position: relative;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: auto;
    transform: rotate(-25deg);
    box-shadow: inset 9px 9px 28px #9e9e9e, 
            inset -9px -9px 28px #f2f2f2;
}

.forward:hover, .backward:hover  {
background: #681b2a;
} 



.forward, .backward {
    height: 50px;
    width: 50px;
   
    position: absolute;
    left: 6px;
    top: 4px;
    border-radius: 50%;
    border: #751a2bce solid 0.5px;
background: linear-gradient(145deg, #89283ace, #a53d50);
box-shadow:  5px 5px 5px #717171, 
-5px -5px 10px #7d7d7d;
}

.backward {
    left: 70px;
    top: 4px;
}

.buttons_red p{
    font-family: nintendo;
    color: var(--gb-blue);
    margin-top: 57px;
    margin-left: 20px;
}

.buttons_grey {
    width: 130px;
    height: 60px;
    position: relative;
    margin-left: 130px;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: auto;
    transform: rotate(-25deg);
}

.buttons_grey p {
    font-family: nintendo;
    color: var(--gb-blue);
    margin-top: 14px;
    margin-left: 2px;
    font-size: 11px;
}


.play, .pause {
    width: 50px;
    height: 11px;
    background: rgb(164, 164, 164);
    box-shadow:  5px 5px 10px #717171, 
    -5px -5px 10px #7d7d7d;
    border-radius: 20px;
    border: rgb(80, 79, 79) 0.5px;
    position: absolute;
    top: 15px;
    left: 10px;
}

.play:hover, .pause:hover {
    background: rgb(96, 96, 96);
} 

.pause {
    left: 65px;
    top: 35px;
}

.speaker {
    width: 120px;
    height:80px;
    margin-right: 20px;
    margin-left: auto;
    margin-top: -12px;
    margin-bottom: auto;
    transform: rotate(-25deg);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

    .hole {
    display: flex;
    height: 75px;
    width: 8px;
    background: rgb(155, 152, 152);
    border: 0.5px rgb(85, 85, 85) solid;
    border-left:rgb(49, 47, 47) solid; 
    border-radius: 20px;
    box-shadow:inset 5px 5px 10px #585858, 
    inset -5px -5px 10px #969696;
}









